<header class="header py-2 px-4 text-white shadow-sm d-flex align-items-center justify-content-between">
<img src="/img/patasseglogo.png" alt="Logo" onclick="gohome()" class="logo img-fluid">
<nav class="nav-container d-flex gap-3">
    <div class="link"><a href="/about">Sobre</a></div>
    <div class="link"><a href="/register-page">Registre-se</a></div>
    <div class="link"><a href="/contact">Contato</a></div>
</nav>
</header>

<style>
.header {
    background: #ffffff;
    box-shadow: 0 0.2% 1% rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
}
.link a {
    color: #000000;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
}
.link a:hover {
    background-color: #0d6efd;
    color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.nav-container {
    display: flex;
    flex-wrap: wrap;
}
.logo {
    height: 50px;
    transition: transform 0.2s ease;
    cursor: pointer;
}
.logo:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .header {
    flex-direction: column;
    align-items: center;
    }
    .nav-container {
    margin-top: 0.5rem;
    justify-content: center;
    }
    .logo {
    position: static;
    margin-bottom: 0.5rem;
    }
}
</style>
<script>
function gohome(){
    location.href = "/home"
}
</script>
