<header class="header">
    <div>
        <h1 class="gradient-logo">
            <span class="line1">PATAS</span>
            <span class="line2">SEGURAS</span>
        </h1>
    </div>
</header>
<nav class="nav-container shadow-lg">
    <div class="link"><a href="/about">Sobre</a></div>
    <div class="link"><a href="/home">Início</a></div>
    <div class="link"><a href="/register-page">Registre-se</a></div>
    <div class="link"><a href="/contact">Contato</a></div>
    <div class="link"><a href="/ong-map">ONGs</a></div>
</nav>
<style>
.header * {
    margin: 0;
}
.header {
    text-align: center;
    background-color: #0d6efd;
    margin-bottom: 0;
}
.nav-container {
    display: flex;
    background-color: #fff;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1%;
}

.link a {
    color: #333333;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    padding: 0.5rem;
    border-radius: 3px;
}

.link a:hover,
.link a:focus {
    color: #0d6efd;
    background: #e7f1ff ;
}
.gradient-logo {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.gradient-logo .line1,
.gradient-logo .line2 {
    background: linear-gradient(90deg, #00AEEF ,#007BFF,#5244e9, #8A2BE2, #C134C8 );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.8rem;
    font-weight: bold;
}

.gradient-logo .line1 {
    margin-bottom: -0.8rem;
}
</style>