body {
  background-image: url('../img/fundo.png');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  margin: 0; 
}
.container {
  background-color: rgba(0, 0, 0, 0.4);
  width: 60%;
  margin: 5% auto;
  border-radius: 1rem;
}
.itens {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4%;
}
p {
  color: white;
}
.botao {
  width: 20%;
  padding: 1% 5%;
  cursor: pointer;
  margin-top: 3%; 
  transition: all 0.3s ease;
}
.botao:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}