*{
  font-family: "Geist Mono", monospace;
  color: white;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  }
body{
  background-image: url(/views/img/pexels-chris-f-38966-1144410.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: max-content;
  height: 100%;
  margin: 0;
  padding: 0;
  }
  
  /* Estilo do container */
.container {
  max-width: 90%; 
  max-height: 80%;
  width: 900px;
  height: 570px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  }

  /*Estilo dos conteudos*/
.itens{
  margin-top: 20px;
  padding-top: 50px;
}
  /* Estilo do Título */
h1 {
  font-weight: 800;
  font-size: 78px;
  padding-left: 123px;
  }
  
  /* Estilo do Parágrafo */
p {
  font-size: 18px;
  width: 500px;
  margin: auto;
  text-align: center;
  padding-left: 40px;
  }
  
  /* Estilo do Botão */

  .botao {
  width: 100px;
  padding: 6px 15px;
  cursor: pointer;
  margin: 20px auto 0 auto; 
  display: block;
}