<link rel="stylesheet" href="css/about.css">
<header class="text-center py-3 pw-bold' text-black">
    <h1>
        Sobre Nós
    </h1>
</header>
<section class="container gap-5">
    <div class="container-md rounded-2 mb-5">
        <h2 class="fw-bold text-center mb-3 mt-3">
            Quem somos?
        </h2>    
        <p class="container-md text-center">
            Somos alunos do Grau Técnico Ltda. em informática e desenvolvemos este projeto como parte do nosso trabalho acadêmico, mas com um grande propósito social.
            Criamos o Patas Seguras com a intenção de usar a tecnologia a favor dos animais, oferecendo um site que realmente possa fazer a diferença na vida deles e das pessoas.
            Acreditamos que, com pequenas ações e com o apoio da sociedade, é possível criar um mundo mais justo e seguro para os animais.
        </p>    
    </div>
    <div class="container-md rounded-2 mb-5">
        <h2 class="fw-bold text-center mb-3 mt-3">
            Sobre o projeto
        </h2>     
        <p class="container-md rounded-2 text-center">
            No Patas Seguras, temos como principal objetivo conscientizar a população sobre os maus-tratos aos animais e fornecer informações práticas sobre como agir nessas situações.
            Nosso site oferece um canal direto para denúncias, além de ser um espaço de educação e orientação para que todos saibam como proteger e defender os direitos dos animais.
            Além disso, queremos incentivar a adoção responsável, conectando animais resgatados a pessoas dispostas a oferecer um lar cheio de amor e cuidado.
        </p>
    </div>
    <div class="container-md rounded-2 mb-5">
        <h2 class="fw-bold text-center mb-3 mt-3">
            O que esperamos?
        </h2>  
        <p class="container-md text-center">
            Esperamos que o Patas Seguras contribua para reduzir os casos de maus-tratos por meio da conscientização, da informação e da denúncia.
            Nosso sonho é ver cada vez mais animais adotados, protegidos e amados.
            Queremos também ajudar na formação de uma sociedade mais empática, em que o respeito pelos animais seja uma prioridade e a crueldade seja combatida com firmeza e responsabilidade.
        </p>      
    </div>
</section>



