<div class="container">
    <h1>Patas Seguras</h1>
    <h3>Denuncie Aqui ↓</h3>
    <div>
        <form>
            <div>
                <input type="checkbox" name="aaaaa" id="">
            </div>
        </form>
    </div>
</div>