<link rel="stylesheet" href="complaint-page.css">
<div class="container mt-5">
    <div class="row justify-content-center">
        <h1 class="text-center mb-4">Patas Seguras</h1>
        <h3 class="text-center mb-4">Denuncie Aqui ↓</h3>
        <form method="post" action="/complaint-page">
            <div class="mb-3">
                <label for "complaint" class="form-label">Qual a denuncia?</label>
                <select class="form-select" id="whichComplaint" name="whichComplaint">
                    <option value="">Selecione um dos tipos de denuncia</option>
                    <option value="abandono">Abandono</option>
                    <option value="violencia">Violência</option>
                    <option value="inadequaçãodeAbrigo">Má Condições de abrigo</option>
                    <option value="faltadeAlimento">Falta de alimento/água</option>
                    <option value="animaisSilvestres">Animais Silvestres em cativeiro</option>
                </select>
            </div>
            <div class="mb-3">
                <input type="text" id="location" name="location" placeholder="Localização do ocorrido...">
            </div>
            <div class="mb-3">
                <textarea id="description" name="description" placeholder="Descreva o ocorrido..."></textarea>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox" id="anonymous" name="anonymous"></div>Desejo permanescer anonimo</input>
            </div>
            <div class="d-grid">
                <input type="submit" class="btn btn-primary" value="Enviar">
            </div>
        </form>
    </div>
</div>
<script src="complaint-page.js"></script>