<link rel="stylesheet" href="css/complaint-page.css">
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="form-container mb-5">
                    <h1 class="text-center mt-1">Patas Seguras</h1>
                    <h2 class="text-center mb-4">Denuncie Aqui ↓</h2>
                    <form method="post" action="/complaint-page" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name" class="form-label">Seu nome</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="whichComplaint" class="">Qual o tipo de denuncia?</label>
                            <select class="form-select text-black" id="whichComplaint" name="whichComplaint">
                                <option class="text-center text-black value="abandono">Abandono</option>
                                <option class="text-center text-black value="violencia">Violência</option>
                                <option class="text-center text-black value="ambienteInsalubre">Ambiente insalubre</option>
                                <option class="text-center text-black value="faltadeAlimento">Falta de alimento/água</option>
                                <option class="text-center text-black value="animaisSilvestres">Animais Silvestres em cativeiro</option>
                                <option class="text-center text-black value="abusoSexual">Abuso sexual</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="photo" class="form-label">Escolher arquivo</label>
                            <input type="file" class="form-control" name="photos" accept="image/png, image/jpeg"
                        </div>
                        
                        <div class="mb-3">
                            <label for="location" class="form-label">Localização do ocorrido</label>
                            <input type="text" class="form-control" name="location">
                        </div>
                        
                        <div class="mb-3">
                            <label for="description" class="form-label">Descreva o ocorrido</label>
                            <textarea class="form-control" name="description" rows="3"></textarea>
                        </div>
                        
                        <hr class="my-4">
                        
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" name="anonymous">
                            <label class="form-check-label" for="anonymous">Desejo permanecer anônimo</label>
                        </div>
                        
                        <button type="submit" class="btn btn-primary mb-1">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="complaint-page.js"></script>