<link rel="stylesheet" href="css/complaint-page.css">
    <div class="d-flex align-items-center justify-content-center min-vh-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mx-auto">
                    <div class="form-container">
                    <h1 class="text-center mt-1 text-black">Patas Seguras</h1>
                    <h2 class="text-center mb-4 text-black">Denuncie Aqui ↓</h2>

                    <form method="post" action="/complaint-page" enctype="multipart/form-data">
                        <!--Step 1-->
                        <div class="form-step">
                            <div class="mb-3">
                                <label for="name" class="form-label fw-bolder text-black" id="lName">Seu nome</label>
                                <input type="text" class="text-black form-control" id="name" name="name">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input text-black" name="anonymous" id="anonymous">
                                    <label class="form-check-label text-black" for="anonymous" >Desejo permanecer anônimo</label>
                                </div>
                            </div>
                        
                            <div class="mb-3">
                                <label for="whichComplaint" class="form-label text-black fw-bolder">Qual o tipo de denuncia? *</label>
                                <select class="form-select text-black" id="whichComplaint" name="whichComplaint">
                                    <option class="text-center text-black value="abandono">Abandono</option>
                                    <option class="text-center text-black value="violencia">Violência</option>
                                    <option class="text-center text-black value="ambienteInsalubre">Ambiente insalubre</option>
                                    <option class="text-center text-black value="faltadeAlimento">Falta de alimento/água</option>
                                    <option class="text-center text-black value="animaisSilvestres">Animais Silvestres em cativeiro</option>
                                    <option class="text-center text-black value="abusoSexual">Abuso sexual</option>
                                </select>
                            </div>
                            <div class="text-end">
                                <button type="button" class="btn btn-sm rounded-pill btn-primary mb-1 fw-bold next-step">Próximo</button>
                            </div>
                        </div>
                        <!--step 2-->
                        <div class="form-step d-none">
                            <div class="mb-3">
                                <label for="photo" class="form-label">Escolher arquivo</label>
                                <input type="file" class="form-control" name="photos" accept="image/png, image/jpeg">
                            </div>
                            <div class="text-end">
                                <button type="button" class="btn btn-sm rounded-pill btn-primary mb-1 fw-bold prev-step">Voltar</button>
                                <button type="button" class="btn btn-sm rounded-pill btn-primary mb-1 fw-bold next-step">Próximo</button>
                            </div>
                        </div>
                        <!--step 3-->
                        <div class="form-step d-none">
                            <div class="mb-3">
                                <label for="description" class="form-label fw-bolder text-black">Descreva o ocorrido</label>
                                <textarea class="form-control text-black" name="description" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="location" class="form-label fw-bolder text-black">Localização do ocorrido</label>
                                <input type="text" class="form-control text-black" name="location">
                            </div>
                            <div class="text-end">
                                <button type="button" class="btn btn-sm rounded-pill btn-primary mb-1 fw-bold prev-step">Voltar</button>
                                <button type="submit" class="btn btn-sm rounded-pill btn-primary mb-1 fw-bold">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="js/complaint-page.js"></script>