<link rel="stylesheet" href="css/index.css">  
<section class="fundo">
  <h1 class="titulo-fundo"> Denuncie Maus-Tratos</h1>
  <div>
  <div class="itens text-left">
    <button class="botao btn" onclick="redirecionar()">Denuciar Agora</button>
  </div>
</section>
<div class="container-branco">
  <h2 class="titulo-container-branco">Como Funciona?</h2> 
  <div class="icones-centro">    
    <img src="img/1.png" alt="1.png" class="icones">  
    <img src="img/2.png" alt=" 2.png" class="icones">
   <img src="img/3.png" alt=" 3.png" class="icones">
</div>
     
</div>

<script src="js/index.js"></script>