<link rel="stylesheet" href="css/index.css">  
<div class="container shadow-lg rounded-4 mt-5 p-4 bg-opacity">
<div class="itens text-left">
    <img src="/img/patasseglogo2.png" alt="Pata de cachorro roxa" class="img-fluid  bg-white mb-4" style="max-width: 150px;">
    <p class="text-white">
    Este é um site dedicado a denúncias de 
    maus-tratos a animais e a adoção, criado para facilitar 
    a comunicação e a conscientização sobre a importância de proteger os direitos dos animais.<br><br>
    O projeto foi desenvolvido por alunos do Grau Técnico, 
    com o objetivo de promover o bem-estar animal e oferecer uma plataforma acessível 
    para que todos possam agir contra a crueldade.
    </p>
    <button class="botao btn btn-primary rounded-pill fw-bold" onclick="redirecionar()">Avançar</button>
</div>
</div>

<script src="js/index.js"></script>