<link rel="stylesheet" href="public/css/login-page.css">
<div class="container mt-5 p-1 bg-opacity shadow rounded-4">
    <div class="row mt-5 mb-5 justify-content-center">
        <div class="col-12 text-center">
            <h2>Bem-vindo de volta</h2>
        </div>
    </div>
    <form method="POST" action="/login-page" enctype="application/x-www-form-urlencoded">
        <div class="row justify-content-center">
            <div class="col-5">
                <input type="email" class="form-control mb-3" id="email" name="email" placeholder="Digite seu Email">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5">
                <input type="password" class="form-control mb-3" id="password" name="password" placeholder="Digite sua senha">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5 mb-5">
                <button type="submit" class="btn btn-primary active fw-bold" onclick="logar()">Entrar</button>
            </div>
        </div>
    </form>
</div>