<link rel="stylesheet" href="css/ong.css">
<div>
    <img class="mapaong mt-2 border border-3 border-primary shadow-lg rounded-1" src="../img/mapas-das-ongs-em-natal.png" alt="mapa de natal com ongs" >
</div>