<div class="mb-4 text-center">
    <h2>Registre-se</h2>
</div>
<div class="container shadow-lg rounded-2 bg-white justify-content-center align-self-center mt-5"> 
    <form method="POST">
        <div>
            <input type="text" class="form-control" name="name" placeholder="Seu Nome">
            <input type="email" class="form-control" name="email" placeholder="Seu Email">
        </div>
        <div>
            <input type="password" class="form-control" name="password" placeholder="Sua senha">
        </div>
            <button class="btn btn-primary" onclick="voltar()">Voltar</button>
            <button type="submit" class="btn btn-primary"   onclick="confirmar()">Entrar</button>
    </form>   
</div>

