body{
    background-color: #F9F9F9;
}

#map{
    height: 100%;
    width: 100%;
}

@media (max-width: 576.98px) {
    #map {
        height: 1099px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #map {
        height: 1150px;
    }
}

@media (min-width: 992px) {
    #map {
        height: 1110px;
    }
}