*{
    padding: 0px;
    margin: 0px;
    font-family: "Geist Mono", monospace;
    color: white;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.caixa{
    border: solid red 1px;
    margin-top: 12%;
    box-sizing: border-box;
    position: relative;
}